<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/query.css">
    <link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap" rel="stylesheet">
    <title>Origami| </title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a>Food Delivery</a></li>
        <li><a>How IT Works</a></li>
        <li><a>Our Cities</a></li>
        <li><a>Sign up</a></li>
      </ul>
    </nav>
    <footer>
      <div class="footer-parent">
        <ul class="footer-text">
          <li class="text-value"><a>About us</a></li>
          <li class="text-value"><a>Blog</a></li>
          <li class="text-value"><a>Press</a></li>
          <li class="text-value"><a>ios App</a></li>
          <li class="text-value"><a>Android App</a></li>
        </ul>
        <ul class="social-link">
          <li class="fab fa-facebook icon-footer"><a href="#"> </a></li>
          <li class="fab fa-twitter-square icon-footer"><a href="#"> </a></li>
          <li class="fab fa-instagram icon-footer"><a href="#"> </a></li>
          <li class="fab fa-snapchat-square icon-footer"><a href="#"> </a></li>
        </ul>
        <p class="footer-p">Copyright © 2019 Omnifood. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>