footer
  .wrapper
    .come
      ul(style='display: flex; margin-top: 9px;')
        li(style='margin: 5px; margin-left: 25px')
          a(href='#') About us
        li(style='margin: 5px; margin-left: 25px')
          a(href='#') Blog
        li(style='margin: 5px; margin-left: 25px')
          a(href='#') Press
        li(style='margin: 5px; margin-left: 25px')
          a(href='#') ios App
        li(style='margin: 5px; margin-left: 25px')
          a(href='#') Android App
    .sm
      i.fab.fa-facebook-square
      i.fab.fa-twitter
      i.fab.fa-instagram
      i.fab.fa-snapchat-square
  .footnote Copyright &copy; 2019 Omnifood.All rights reserved.
