
<footer>
  <div class="footer-parent">
    <ul class="footer-text">
      <li class="text-value"><a>About us</a></li>
      <li class="text-value"><a>Blog</a></li>
      <li class="text-value"><a>Press</a></li>
      <li class="text-value"><a>ios App</a></li>
      <li class="text-value"><a>Android App</a></li>
    </ul>
    <ul class="social-link">
      <li class="fab fa-facebook icon-footer"><a href="#"> </a></li>
      <li class="fab fa-twitter-square icon-footer"><a href="#"> </a></li>
      <li class="fab fa-instagram icon-footer"><a href="#"> </a></li>
      <li class="fab fa-snapchat-square icon-footer"><a href="#"> </a></li>
    </ul>
    <p class="footer-p">Copyright © 2019 Omnifood. All rights reserved.</p>
  </div>
</footer>